In [11]:
import libaarhusxyz
import os.path
import pandas as pd
import libaarhusxyz.normalizer
import downfile
import numpy as np

In [26]:
a = libaarhusxyz.XYZ("../examples-secret/ags/LCI_Example_MOD_dat.xyz")

In [27]:
a

../examples-secret/ags/LCI_Example_MOD_dat.xyz
--------------------------------
                                                                      0
info                  Aarhus Workbench export file. File created: 03...
wb version                                                      6.7.0.0
workspace name        C:\Users\Toke.Soeltoft\Downloads\HSM_WS\WS_Kas...
node name(s)                                           P20130820_F1_I01
dummy                                                            9999.0
data unit                                                dB/dt [V/Am^4]
data type                                                     DTSKYTEM2
coordinate system                      WGS 84 UTM zone 32N (epsg:32632)
source                   ../examples-secret/ags/LCI_Example_MOD_dat.xyz
inversion type                                              Resistivity
model unit                    Resistivity (Ohm-m) / conductivity (mS/m)
model type                                                        Sharp
number of layers                                                   25.0
inversion data space                                         Logaritmic
length unit                                                       Meter
number of gates                                                    42.0
gate times (s)        [6.815e-06, 8.815e-06, 1.082e-05, 1.332e-05, 1...

Soundings: 115
Flightlines: 1
Maximum layer depth: None
Projection: 32632
         utmx       utmy
min  563458.8  6231699.2
max  564917.7  6233201.4


Layer data: datastd, data
Layer params: layer

In [28]:
a.flightlines

,line_no,utmx,utmy,date,time,record,elevation,altitude_a-priori_[m],altitude_a-priori_std_[fact],altitude_[m],altitude_std_[fact],numdata,segments,resdata,restotal
0,300101,563458.8,6231699.2,2013-08-20,13:29:00.700,1,84.8,100.40,1.027,100.40,1.027,24,2,6.244,10.53
1,300101,563470.1,6231725.5,2013-08-20,13:29:02.400,2,85.7,96.14,1.024,96.15,1.024,12,1,6.401,10.53
2,300101,563470.1,6231725.5,2013-08-20,13:29:02.400,2,85.7,96.14,1.024,96.15,1.024,24,2,6.401,10.53
3,300101,563481.9,6231750.2,2013-08-20,13:29:04.100,3,86.4,90.75,1.028,90.75,1.028,12,1,8.594,10.53
4,300101,563481.9,6231750.2,2013-08-20,13:29:04.100,3,86.4,90.75,1.028,90.75,1.028,24,2,8.594,10.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,300101,564886.4,6233163.9,2013-08-20,13:31:33.700,57,62.6,44.49,1.045,44.49,1.045,28,2,21.770,10.53
111,300101,564902.5,6233182.8,2013-08-20,13:31:35.400,58,61.9,44.30,1.046,44.30,1.046,13,1,5.455,10.53
112,300101,564902.5,6233182.8,2013-08-20,13:31:35.400,58,61.9,44.30,1.046,44.30,1.046,10,2,5.455,10.53
113,300101,564917.7,6233201.4,2013-08-20,13:31:37.100,59,61.4,43.20,1.047,43.20,1.047,13,1,4.773,10.53
114,300101,564917.7,6233201.4,2013-08-20,13:31:37.100,59,61.4,43.20,1.047,43.20,1.047,10,2,4.773,10.53